@tailwind base;
@tailwind components;
@tailwind utilities;

.hero1 {
  background-image: url("../Assets/Frame.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
.hero2 {
  background-image: url("../Assets/Frame.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

body {
  background: #000;
}
