@tailwind base;
@tailwind components;
@tailwind utilities;

.hero1 {
  background-image: url("../Assets/First-bg.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
}
.hero2 {
  background-image: url("../Assets/Second-bg.png");
  background-size: cover;
  background-position: center;
  width: auto;
  height: auto;
}

body {
  background: #000;
}
